<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Neofairs Registration Has Been Approved!</title>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      padding-bottom: 40px;
      background-color: rgb(225, 223, 223);
      font-family: Arial, sans-serif;
      line-height: 1.6;
      color: #4a5566;
    "
  >
    <table
      width="100%"
      border="0"
      cellspacing="0"
      cellpadding="0"
      style="
        margin: 20px auto;
        max-width: 650px;
        border-radius: 10px;
        overflow: hidden;
      "
    >
      <tr>
        <td
          style="
            margin: 0;
            font-weight: 500;
            padding: 20px 30px;
            border-collapse: collapse;
          "
          bgcolor="#e1dfdf"
        ></td>
      </tr>
      <tr>
        <td
          align="center"
          valign="middle"
          style="
            background: #f7f7f7;
            color: #ffffff;
            padding: 20px 20px;
            border-radius: 10px 10px 0px 0px;
          "
        >
          <img
            src="https://shapes.neofairs.com/images/logo/SHAPES_LOGO-BLACK.png"
            alt="logo"
            height="70px"
            style="border: 0; display: block; padding-bottom: 20px"
          />
        </td>
      </tr>
      <tr>
        <td
          align="center"
          valign="middle"
          style="background: #f7f7f7; color: #ffffff;padding-bottom: 1rem;"
        >
          <h1 style="margin: 0; font-size: 30px; font-weight: 600; color: #000">
            Your Neofairs Registration Has Been Approved!
          </h1>
        </td>
      </tr>
      <!-- <tr>
        <td
          style="
            background: #f7f7f7;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 40px 20px;
            border-radius: 10px 10px 0px 0px;
          "
        >
          <img
            src="https://shapes.neofairs.com/images/logo/SHAPES_LOGO-BLACK.png"
            alt="logo"
            height="70px"
            style="border: 0; display: block; padding-bottom: 20px"
          />

          <h1 style="margin: 0; font-size: 30px; font-weight: 600; color: #000">
            Registration is Approved!
          </h1>
        </td>
      </tr> -->

      <tr>
        <td style="padding: 40px 30px; color: #333333; background: #ffffff">
          <p style="
          margin: 8px 0 0;
          font-size: 16px;
          line-height: 28px;
          color: #4a5566;
        ">Dear {{name}},</p>
        <br />
          <p
            style="
              margin: 8px 0 0;
              font-size: 16px;
              line-height: 28px;
              color: #4a5566;
            "
          >
          Congratulations! Your registration with <b>Neofairs</b> has been approved, and you’re ready to showcase your products to a global audience, conduct fairs, invite buyers, and connect with them conveniently and cost-effectively.
          </p>
          <br />
          <p
            style="
              margin: 8px 0 0;
              font-size: 16px;
              line-height: 28px;
              color: #4a5566;
            "
          >
          You now have full access to our platform, where you can:
          <ul style="
          margin: 8px 0 0;
          font-size: 16px;
          line-height: 28px;
          color: #4a5566;
        ">
            <li><b>Explore your dashboard</b> for a complete overview of the fair, including event schedules, visitor information, and key highlights.</li>
            <li><b>Set up your virtual stall </b>to present your offerings professionally.</li>
            <li><b>Accept meeting invitations </b>to connect face-to-face with global buyers.</li>
            <li><b>Engage with attendees </b>and maximize your networking opportunities.</li>
          </ul>
          </p>
          <p
            style="
              margin: 8px 0 0;
              font-size: 16px;
              line-height: 28px;
              color: #4a5566;
            "
          >
          <b>Next Steps:</b>
          </p>
          <p
            style="
              margin: 8px 0 0;
              font-size: 16px;
              line-height: 28px;
              color: #4a5566;
            "
          >
          Log in to your account at <a href="https://shapes.neofairs.com/exhibitor-login" target="_blank">Login URL</a> using the password you created during registration, and begin exploring the platform. Be sure to complete your profile and prepare for the event by reviewing the schedule and setting up your preferences.
          </p>
          <br />
          <p
            style="
              margin: 8px 0 0;
              font-size: 16px;
              line-height: 28px;
              color: #4a5566;
            "
          >
          If you need any assistance or have questions, our support team is here to help. You can reach us at 
          <a href="mailto:support@neofairs.com" target="_blank"
          ><b>support@neofairs.com</b></a
        >.
          </p>
          <br />
          <p
            style="
              margin: 8px 0 0;
              font-size: 16px;
              line-height: 28px;
              color: #4a5566;
            "
          >
          We’re excited to see you succeed with Neofairs!
          </p>
          <br />
          <p style="
          margin: 8px 0 0;
          font-size: 16px;
          line-height: 28px;
          color: #4a5566;
        ">Best regards,</p>
          <p style="
          margin: 8px 0 0;
          font-size: 16px;
          line-height: 28px;
          color: #4a5566;
        "><b>The Neofairs Team</b></p>
          <!-- <a href="[Event Schedule Link]" style="display: inline-block; background: #2e2e2e; color: #ffffff; text-decoration: none; padding: 10px 20px; border-radius: 5px; margin: 15px 0; font-size: 14px;">Access Event Schedule</a> -->
          <!-- <p style="margin: 15px 0; font-weight:500;font-size:15px;color:#666666;">If you have any questions or need assistance, contact us at <a href="mailto:support@event.com" style="color: #2e2e2e; text-decoration: none;">support@event.com</a>.</p> -->
        </td>
      </tr>
      <tr style="background: #ffffff">
        <td
          style="
            margin: 0;
            font-weight: 500;
            padding: 30px 30px;
            border-top: 1px solid #eeeeee;
            border-collapse: collapse;
          "
        >
          <table
            role="presentation"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="100%"
            style="
              margin: 0;
              padding: 0;
              font-weight: 500;
              border-collapse: collapse;
            "
          >
            <tbody>
              <tr>
                <div style="margin: 0; padding-top: 20px; display: flex">
                  <p
                    style="
                      margin: 0;
                      padding: 0px 0px 0px 5px;
                      color: #575656;
                      padding-bottom: 10px;
                      font-size: 18px;
                    "
                  >
                    Shapes
                  </p>
                  <!-- <img src="https://shapes.neofairs.com/images/logo/SHAPES_LOGO-BLACK.png" alt="" height="30px" style="padding: 0px 10px 20px 0px;"> -->
                </div>
              </tr>
              <tr>
                <td
                  style="
                    margin: 0;
                    font-weight: 500;
                    padding: 20px 0px 15px 0px;
                    border-bottom: 1px solid #dbe2eb;
                    border-collapse: collapse;
                  "
                >
                  <table
                    role="presentation"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    style="
                      margin: 0;
                      padding: 0;
                      font-weight: 500;
                      border-collapse: collapse;
                    "
                  >
                    <tbody>
                      <tr>
                        <td
                          style="
                            margin: 0;
                            padding: 0;
                            font-weight: 500;
                            font-size: 15px;
                            color: #666666;
                            border-collapse: collapse;
                            border-right: 1px solid #dbe2eb;
                          "
                        >
                          <a
                            href="https://www.facebook.com/shapesproducts"
                            style="
                              color: #636262;
                              text-decoration: none;
                              padding: 0 10px;
                            "
                            target="_blank"
                            data-saferedirecturl=""
                            >Facebook</a
                          >
                        </td>
                        <td
                          style="
                            margin: 0;
                            padding: 0;
                            font-weight: 500;
                            font-size: 15px;
                            color: #666666;
                            border-right: 1px solid #dbe2eb;
                            border-collapse: collapse;
                          "
                        >
                          <a
                            href="https://www.instagram.com/shapesproducts/"
                            style="
                              color: #636262;
                              text-decoration: none;
                              padding: 0 10px;
                            "
                            target="_blank"
                            data-saferedirecturl=""
                            >Instagram</a
                          >
                        </td>

                        <td
                          style="
                            margin: 0;
                            padding: 0;
                            font-weight: 500;
                            font-size: 15px;
                            color: #666666;
                            border-right: 1px solid #dbe2eb;
                            border-collapse: collapse;
                          "
                        >
                          <a
                            href="https://www.linkedin.com/in/ashishjain1983/"
                            style="
                              color: #636262;
                              text-decoration: none;
                              padding: 0 10px;
                            "
                            target="_blank"
                            data-saferedirecturl=""
                            >LinkedIn</a
                          >
                        </td>
<td
                          style="
                            margin: 0;
                            padding: 0;
                            font-weight: 500;
                            font-size: 15px;
                            color: #666666;
                            border-right: 1px solid #dbe2eb;
                            border-collapse: collapse;
                          "
                        >
                          <a
                            href="https://www.youtube.com/@ShapesProducts"
                            style="
                              color: #636262;
                              text-decoration: none;
                              padding: 0 10px;
                            "
                            target="_blank"
                            data-saferedirecturl=""
                            >YouTube</a
                          >
                        </td>
                        <td
                          style="
                            margin: 0;
                            padding: 0;
                            font-weight: 500;
                            font-size: 15px;
                            color: #666666;
                            border-right: 1px solid #dbe2eb;
                            border-collapse: collapse;
                          "
                        >
                          <a
                            href="https://wa.me/9896111273"
                            style="
                              color: #636262;
                              text-decoration: none;
                              padding: 0 10px;
                            "
                            target="_blank"
                            data-saferedirecturl=""
                            >WhatsApp</a
                          >
                        </td>
                        <td
                          style="
                            margin: 0;
                            padding: 0;
                            font-weight: 500;
                            font-size: 15px;
                            color: #666666;
                            border-collapse: collapse;
                          "
                        >
                          <a
                            href="https://www.shapesproducts.in/"
                            style="
                              color: #636262;
                              text-decoration: none;
                              padding: 0 10px;
                            "
                            target="_blank"
                            data-saferedirecturl=""
                            >Shapes</a
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

              <tr>
                <td
                  style="
                    margin: 0;
                    padding: 0;
                    font-size: 14px;
                    color: #9498a7;
                    padding-bottom: 10px;
                    font-weight: 400;
                    padding-top: 20px;
                    border-collapse: collapse;
                  "
                >
                  <p><b>Privacy Notice:</b></p>
                  <p>
                    By registering with Neofairs, you agree to our
                    <a href="https://www.neofairs.com/privacy" target="_blank"
                      >Privacy Policy</a
                    >
                    and
                    <a href="https://www.neofairs.com/terms" target="_blank"
                      >Terms of Service</a
                    >. Your information will be used solely for event-related
                    purposes, and we respect your privacy. You can opt out of
                    receiving emails at any time by clicking the unsubscribe
                    link.
                  </p>
                  <p><b>Technical Support:</b></p>
                  <p>
                    If you encounter any issues while using the platform, our
                    support team is available to assist you. Please reach out to
                    us at <b>support@neofairs.com</b> for help.
                  </p>
                  <p><b>Copyright Notice:</b></p>
                  <p>
                    All content on the Neofairs platform, including logos,
                    images, and text, is protected by copyright laws.
                    Unauthorized use or reproduction is prohibited.
                  </p>
                </td>
              </tr>
              <!-- <tr>
                <td
                  style="
                    margin: 0;
                    padding: 0;
                    font-size: 14px;
                    color: #9498a7;
                    font-weight: 400;
                    border-collapse: collapse;
                  "
                >
                  Lorem, ipsum, 123, ABC Street, Lorem, ipsum, ABC main road.,
                  Bangalore, Lorem, ipsum, 123456, India.
                </td>
              </tr> -->
            </tbody>
          </table>

          <!-- <table
            role="presentation"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="100%"
            style="
              margin: 0;
              padding: 0;
              font-weight: 500;
              border-collapse: collapse;
            "
            align="center"
          >
            <tbody>
              <tr>
                <td
                  style="
                    margin: 0;
                    padding: 0;
                    font-size: 14px;
                    color: #9498a7;
                    padding-bottom: 10px;
                    line-height: 20px;
                    font-weight: 400;
                    padding-top: 20px;
                    border-collapse: collapse;
                  "
                >
                  This Message was sent to
                  <a href="mailto:abc@gmail.com" target="_blank"
                    >abc@gmail.com</a
                  >
                  . If you want to receive these emails from Neofairs in the
                  futrue, can
                  <b>
                    edit your profile or<a
                      href="http://tracking..in/tracking/unsubscribe?d=ZQCJksGW3XodaFG-gXmEv3LKMEfus2TreimgDq8U6V0eh57itychIkVKumK3l6RB8GXPJP3xv3-q4KKBJCZRwAhAYY4eQaHtlQVZB9P0hq610"
                      style="
                        color: #636262;
                        text-decoration: none;
                        padding: 0 5px;
                      "
                      target="_blank"
                      data-saferedirecturl="https://www.google.com/url?q=http://tracking..in/tracking/unsubscribe?d%3DZQCJksGW3XodaFG-gXmEv3LKMEfus2TreimgDq8U6V0eh57itychIkVKumK3l6RB8GXPJP3xv3-q4KKBJCZRwAhAYY4eQaHtlQVZB9P0hq610&amp;source=gmail&amp;ust=1734325555601000&amp;usg=AOvVaw2glzMaVGKgUoNKanwWzdMT"
                      >unsubscribe.</a
                    ></b
                  >
                </td>
              </tr>
            </tbody>
          </table> -->
        </td>
      </tr>

      <tr>
        <td
          style="
            margin: 0;
            padding: 0;
            font-weight: 500;
            border-collapse: collapse;
            background-color: #f7f7f7;
          "
        >
          <table style="width: 100%; padding: 50px 20px">
            <tbody>
              <tr>
                <td align="center">
                  <a href="https://neofairs.com/" target="_blank">
                    <img
                      src="https://shapes.neofairs.com/images/logo/neo-fairs-lite-logo.png"
                      alt="Logo"
                      style="width: 200px"
                    />
                  </a>
                </td>
              </tr>
              <tr>
                <td
                  style="
                    color: rgb(155, 154, 154);
                    text-align: center;
                    padding: 10px;
                  "
                >
                  <p style="margin: 0; font-size: 14px">
                    © 2024
                    <a href="https://neofairs.com/" target="_blank">Neofairs</a>
                    All Rights Reserved.
                  </p>
                </td>
              </tr>
              <tr>
                <td align="center" style="padding: 20px 0">
                  <a
                    href="https://www.facebook.com/neofairs"
                    style="text-decoration: none; margin: 0 10px"
                  >
                    <img
                      src="https://shapes.neofairs.com/images/icons/ICONS-06.png"
                      alt="Facebook"
                      style="width: 25px; height: 25px"
                    />
                  </a>
                  <a
                    href="https://www.instagram.com/neofairs.virtualevents/"
                    style="text-decoration: none; margin: 0 10px"
                  >
                    <img
                      src="https://shapes.neofairs.com/images/icons/ICONS-04.png"
                      alt="Instagram"
                      style="width: 25px; height: 25px"
                    />
                  </a>
                  <a
                    href="https://www.linkedin.com/company/neofairs/"
                    style="text-decoration: none; margin: 0 10px"
                  >
                    <img
                      src="https://shapes.neofairs.com/images/icons/ICONS-02.png"
                      alt="LinkedIn"
                      style="width: 25px; height: 25px"
                    />
                  </a>
                  <a
                    href="www.youtube.com/@neofairs"
                    style="text-decoration: none; margin: 0 10px"
                  >
                    <img
                      src="https://shapes.neofairs.com/images/icons/ICONS-05.png"
                      alt="youtube"
                      style="width: 25px; height: 25px"
                    />
                  </a>
                  <a
                    href="https://wa.me/9943071118"
                    style="text-decoration: none; margin: 0 10px"
                  >
                    <img
                      src="https://shapes.neofairs.com/images/icons/ICONS-03.png"
                      alt="Whatsapp"
                      style="width: 25px; height: 25px"
                    />
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
